<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light mt-4">
  <div class="container">
    <a class="navbar-brand trndy-padding" href="Woman.html">Brendies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="d-flex mx-auto srch-br-wdth mt-2">

      <input class="form-control" type="search" placeholder="Search" aria-label="Search">

    </form>

    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="far fa-user p-padding"></i>My Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">My orders</a></li>
          <li><a class="dropdown-item" href="#">My Billing Address</a></li>
          <li><a class="dropdown-item" href="#">My coupons</a></li>
        </ul>
      </li>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-heart p-padding"></i>My Favorites
          </a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-shopping-cart p-padding"></i>My Cart
          </a>
        </li>
      </ul>
    </ul>
  </div>
</nav>



<!-- categories -->

<div class="container ctg-pddng">
  <nav class="navbar navbar-expand-lg navbar-light ">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto ">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Women
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Clothes</a></li>
            <li><a class="dropdown-item" href="#">Cosmetics</a></li>
            <li><a class="dropdown-item" href="#">Luxery & Accessories </a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Men
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cothes</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
            <li><a class="dropdown-item" href="#">Watches & Accessories</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Children
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Baby Care</a></li>
            <li><a class="dropdown-item" href="#">Toys</a></li>
            <li><a class="dropdown-item" href="#">Nutrition</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Electronics
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Computers</a></li>
            <li><a class="dropdown-item" href="#">Cellphones</a></li>
            <li><a class="dropdown-item" href="#">Developer Gadgets</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home Appliances
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Kitchen ware</a></li>
            <li><a class="dropdown-item" href="#">Cleaning detergents</a></li>
            <li><a class="dropdown-item" href="#">Air cooler</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Furniture
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Classic</a></li>
            <li><a class="dropdown-item" href="#">Modern</a></li>
            <li><a class="dropdown-item" href="#">Ikea</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sports & Outdoors
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Indoor GYM</a></li>
            <li><a class="dropdown-item" href="#">Hicking tools</a></li>
            <li><a class="dropdown-item" href="#">Universal Gadgets</a></li>
          </ul>
        </li>

      </ul>
    </div>
</div>


<hr class="hr-pdn">

<!-- oval shaped products -->

<a href="#" class="previous round">&#8249;</a>
<div class="container marketing">


  <div class="row mx-5">
    <div class="col-sm-2">
      <a href="/">
        <img class="img-oval mb-2" width="70" src="public\images\categories\lv.png" alt="Louis Vuitton">
      </a>
      <h6>Louis Vuitton</h6><!-- /.col-sm-2 -->
    </div>

    <div class="col-sm-2">
      <img src="public\images\categories\asus.jpg" class="img-oval mb-2" width="70" height="70" alt="Asus">
      <h6>Asus</h6><!-- /.col-sm-2 -->
    </div>

    <div class="col-sm-2">
      <img src="public\images\categories\Vstl.png" class="img-oval mb-2" width="70" height="70" alt="Vestel">
      <h6>Vestel</h6><!-- /.col-sm-2 -->
    </div>

    <div class="col-sm-2">
      <img src="public\images\categories\Jnson.png" class="img-oval mb-2" width="70" height="70" alt="Johnson">
      <h6>Johnson</h6><!-- /.col-sm-2 -->
    </div>

    <div class="col-sm-2">
      <img src="public\images\categories\Ikea.jpg" class="img-oval mb-2" width="70" height="70" alt="Ikea">
      <h6>Ikea</h6>
    </div>

    <div class="col-sm-2">
      <img src="public\images\categories\adidas.png" class="img-oval mb-2" width="70" height=" 70" alt="Adidas">
      <h6>Adidas</h6><!-- /.col-sm-2 -->
    </div>

  </div>
</div>
<a href="#" class="next round">&#8250;</a>


<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide pdding-bt" data-bs-ride="carousel">

  <div class="container carousel-inner">
    <div class="carousel-item active">
      <img src="public\images\men\dg.jpg" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="style-txt">Dolce&Gabbana</h5>
      </div>
    </div>
  </div>
</div>

<!-- carousal -->
<div id="carouselExampleCaptions" class="carousel slide pdding-bt" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
  <div class="container carousel-inner">
    <div class="carousel-item active">
      <img src="public\images\Women\collection.jpg" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block my-auto">
        <h5 class="style-txt">LOUIS VUITTON</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="public\images\Women\blonde1.jpg" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="style-txt">Elegant</h5>

      </div>
    </div>
    <div class="carousel-item">
      <img src="public\images\Women\blonde2.jpg" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="style-txt">Winter</h5>
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
</div>




<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide pdding-bt" data-bs-ride="carousel">

  <div class="container carousel-inner">
    <div class="carousel-item active">
      <img src="public\images\men\jones.jpg" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="style-txt">Jack & Jones</h5>
      </div>

    </div>
  </div>
</div>

<!-- cards -->
<form class="" action="ch.html" method="post">


  <div class="container txt-cnt">
    <div class="row pdng">
      <div class="col col-md-3">
        <div class="card" style="width: 12rem;">
          <img src="public\images\For cards\jnsonoil.jpg" height="190" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Johnson Baby Oil</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">pain-free</li>
            <li class="list-group-item">500 ml</li>
            <li class="list-group-item">2$</li>
          </ul>
          <button class="btnz" type="submit" name="button">Add to cart</button>
        </div>
      </div>

      <div class="col col-sm-3 col-md-3">
        <div class="card" style="width: 12rem;">
          <img src="public\images\For cards\blender.jpg" height="190" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blender</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Green</li>
            <li class="list-group-item">large</li>
            <li class="list-group-item">5$</li>
          </ul>
          <button class="btnz" type="submit" name="button">Add to cart</button>
        </div>
      </div>

      <div class="col col-sm-3 col-md-3">
        <div class="card" style="width: 12rem;">
          <img src="public\images\For cards\tent.jpeg" height="190" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tent</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">White</li>
            <li class="list-group-item">4 person</li>
            <li class="list-group-item">10%</li>
          </ul>
          <button class="btnz" type="submit" name="button">Add to cart</button>
        </div>
      </div>

      <div class="col  col-md-3">
        <div class="card" style="width: 12rem;">
          <img src="public\images\For cards\chair.jpg" height="190" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chair</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Black</li>
            <li class="list-group-item">Office chair</li>
            <li class="list-group-item">20$</li>
          </ul>
          <button class="btnz" type="submit" name="button">Add to cart</button>
        </div>
      </div>

    </div>
  </div>
</form>
